@model Staticsite.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_WinkuLoginLayout.cshtml";
}





<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="login-reg-bg" id="reg">
        <div class="log-reg-area sign">

            <h2 class="log-title">Forgot Password??</h2>
           
           @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
           {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <form>
                    <div class="form-group">
                     @Html.TextBoxFor(m => m.Email, new { @class = "form-control",placeholder="Enter Email Id" })

                       
                    </div>
                    
                  <div class="submit-btns">
                        <button class="mtr-btn" type="submit"><span>Submit</span></button>
                      <button class="mtr-btn" type="button"  onclick="location.href='@Url.Action("Login", "Account")'"><span>Back to Login</span></button>
                      
                    </div>
                </form>
            }
        </div>
        
    </div>
</div>
