@{
    ViewBag.Title = "ActivateDeactivateACcount";
    //Layout = "~/Views/Shared/_ParticipantsLayoutPage.cshtml
    Layout = "~/Views/Shared/_ThemeforestLayoutForOrganizer.cshtml";

}


<section class="section-artist-page-header">
    <div class="container">
        <h1 class="entry-title">Your Account Is Deactivated</h1>
    </div>
</section>
