@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_WinkuLoginLayout.cshtml";
}


<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="login-reg-bg" id="reg">
        <div class="log-reg-area sign">

            <h4 class="log-title">Reset Password Confirmation</h4>

            <div>
                <p>
                    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>

        </div>

    </div>
</div>