

@*@model Conquerorhub.Models.MainPhotosModel*@

@using (Html.BeginForm("MainPhotosofProfile", "BasicFunctionality", FormMethod.Post, new { enctype = "multipart/form-data", Id = "frmAddImage" }))
{
    <div class="likeds">
        <div class="likeright">
            <div class="popup" onclick="Photos()">
                <b>Edit</b>
                <div class="popuptext1" id="photo">
                    <div class="notfication-details">
                        <div class="notification-info">
                           @* @Html.EditorFor(m => m.BannerPic, new { type = "file" })*@
                            <label>Change banner picture</label>
                            <input type="file" name="bannerPic" />

                        </div>
                    </div>
                    <div class="notfication-details">
                        <div class="notification-info">
                           @* @Html.EditorFor(m => m.ProfilePic, new { type = "file" })*@
                            <label>Change profile picture</label>
                            <input type="file" name="profilePic"/>
                        </div>
                    </div>
                    <div class="notfication-details">
                        <div class="notification-info">

                            <input type="submit" id="btnAddImage" value="Upload" class="btn btn-primary" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

}