@{
    ViewBag.Title = "About";
}


<section id="pageintro" class="hoc clear">
    <div>
        <div>
            <img src="~/Content/Images/308898-P8DOWJ-781 copy.png" style="max-width:40%" />
        </div>
        <!-- ################################################################################################ -->
        <h3 class="heading">About ConquerorHub</h3>
        <p>ConquerorHub is a platform to exhibit skills.We nourish and cherish the talents to fullfill their dreams and help in the betterment of the society</p>
        <br />
        <br />
        <hr />
        <h3 class="heading">Vision</h3>
        <p>Aim of the ConquerorHub is to give the platform  for all kind of talents to show their skill in different field and make them achieve their dream and also to work for social cause for the betterment of society globally</p>
        <br />
        <br />
        <hr />
        <h3 class="heading">Mision</h3>
        <p>Gving the platform for every individual as a organizer or participant irrespective of age,race,location</p>
        <br />
        <br />
        <hr />
        <h3 class="heading">Who are we?</h3>
        <p>ConquerorHub was established in the year 2018 December 13.</p>
        <p>The founder of ConquerorHub are Premalatha M.N and Padmavathi M.N</p>

        <!-- ################################################################################################ -->
    </div>
</section>

