
@{
    ViewBag.Title = "Readmore";
}

<article class="one">
    

 
   
</article>
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <h6 class="heading"> Workshop on WordPress</h6>

        </div>
        <div class="group excerpts">
           
        
           
            <article class="one">
                
              
                <p>
                    What is Wordpress ?
                </p>
                <p>
                    WordPress is a free and open-source content management system based on PHP & MySQL.
                    WordPress is, by far, the most popular open source Content Management System (CMS), used by approximately 75 million websites.
                    Features include a plugin architecture and a template system.
                    It is most associated with blogging but supports other types of web content including more traditional mailing lists and forums, media galleries, and online stores.
                    WordPress is free to install, deploy, and upgrade. Thousands of plugins and templates power a flexible and simple interface, which reduces development costs and deployment time.
                </p>

                <br />
                <br />
                <p>
                    Reason we use Wordpress ?
                </p>
                <p>
                    1. Flexible and Adaptable for Changing Needs<br />
                    2. User-friendly—Even for Beginners<br />
                    3. Themes Offer Multiple Options<br />
                    4. Plugins Extend Functionality<br />
                    5. WordPress Sites Rank High<br />
                    6. WordPress Sites Are Mobile Responsive<br />
                    7. WordPress Sites Have a Built-In Blog<br />
                    8. The WordPress Community Offers Support
                </p>
                <br />
                <br />

                <p>What you learn ?</p>
                <p>
                    Basics of HTML & CSS<br />
                    Idea On Responsive Web Development And Design<br />
                    Cover WordPress Components<br />
                    Hands on Experience<br />
                    Project Execution
                </p>

                <br />
                <br />

                <p>What Will You Get ?</p>
                <p>
                    LMS Access For One Month <br />
                    Instrutor Support For One Month<br />
                    Course Completion Certificate
                </p>
                <br />
                <br />

                <p>Who Should Attend ?</p>

                <p>
                    Software Developers <br />
                    Project Managers<br />
                    Frontend Developers<br />
                    Web Developers<br />
                    UI / UX Developers<br />
                    Students from Programming Background<br />
                    Non Technical Background<br />
                    Small Business
                </p>
                <br />
                <br />
                <p>Things to be carried</p>
                <p>Laptop</p>
            </article>
        </div>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>